div.icon {
    position: absolute;
    top: 5%;
    right: 35%;
}

div.icon:hover + .tooltip-content {
    position: absolute;
    width: 22%;
    top: 7.5%;
    background-color: black;
    color: white;
}